<div class="panel-heading">
    <h3 class="panel-title">
        <span class="glyphicon glyphicon-search" aria-hidden="true"/> Skill Search
    </h3>
</div>
    
<div class="panel-body">
    <p class="exclaim bg-info text-info">
        <strong>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"/> {{exclaim}}
        </strong>
    </p>
                
    <div class="row">
        <div id="typeahead-container" class="form-group col-md-12">
            <label for="skill-search-text-field"><span class="glyphicon glyphicon-fire" aria-hidden="true"/> Skill</label>
            <input type="text" id="skill-search-text-field" name="skill-search-text-field" class="form-control typeahead">
        </div>
    </div>
                
    <div class="row">
        <div id="autocomplete-container" class="col-md-12">
        </div>
    </div>
</div>

{{> credits}}